.redisCss {
  padding: 0px;
  position: relative;
  .btns {
    display: flex;
    div {
      padding: 10px;
      border-radius: 5px;
      background: #ccc;
      margin: 3px;
    }
  }
  .addInfo {
    margin-top: 10px;
    .row {
      padding-right: 10px;
      margin-bottom: 10px;
      display: flex;
      .tag {
        width: 90px;
      }
      input {
        flex: 1;
      }
      textarea {
        flex: 1;
        height: 10vh;
      }
    }
    .submit {
      text-align: center;
      input {
        padding: 10px 20px;
        font-size: 18px;
      }
    }
  }
}