.es6Css {
  .btns {
    display: flex;
    flex-wrap: wrap;
    >div {
      margin: 0.2rem;
      padding: 0.5rem 0.8rem;
      border: 1px solid #f5f5f5;
    }
  }
  .inputNumber {
    display: flex;
    align-items: center;
    >input{
      margin-left: 0.5rem;
      padding: 0.5rem;
    }
    >div {
      margin-left: 0.5rem;
      padding: 0.5rem 0.8rem;
      border: 1px solid #f5f5f5;
    }
  }
}