.navbarCss {
  width: 100.1vw;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: #e6e6e6;
  z-index: 99999;
  display: flex;
  align-items: center;

  .left {
    padding: 5px;

    > div {
      height: 25px;
      width: 30px;
      background-image: url('../img/icon-arrow-left-white.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .center {
    text-align: center;
    flex: 1;
    font-size: 20px;
    color: #222;
  }

  .right {
    padding: 5px;
  }
}
