.homeCss {
  position: relative;
  width: 100%;
  // margin-top: 45px;

  .btns {
    margin: 10px;
    display: flex;

    > div {
      padding: 5px 25px;
      text-align: center;
      border: 1px solid #eee;
      border-radius: 5px;
      background: #1438d4;
      color: #fff;
      margin: 5px;
    }
  }
}
